<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>react-kit</title>
  <meta name="description" content="my-react-kit" />
  <meta name="keywords" content="my-react-kit" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui" />

  <!-- UC强制全屏 -->
  <meta name="full-screen" content="yes">
  <!-- QQ强制全屏 -->
  <meta name="x5-fullscreen" content="true">
  <!-- UC应用模式 -->
  <meta name="browsermode" content="application">
  <!-- QQ应用模式 -->
  <meta name="x5-page-mode" content="app">

  <meta name="apple-mobile-web-app-capable" content="yes" /><!--指定全屏-->
  <!--<meta name="apple-mobile-web-app-status-bar-style" content="black" />指定苹果手机顶部栏，没效果-->
  <meta content="telephone=no" name="format-detection" />
  <meta name="apple-mobile-web-app-title" content="my-react-kit" />
</head>
<body>
  <div id="app"></div>
  <script src="https://a.alipayobjects.com/static/fastclick/1.0.6/fastclick.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      FastClick.attach(document.body);
    }, false);
  </script>
</body>
</html>
